<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <!--模板文件路径-->
    <add key="templatePath" value=""/>
    <!--需要监视的根文件夹-->
    <add key="watchPath" value=""/>
    <!--AllDirectories:监视所有文件夹包括子文件夹 | TopDirectoryOnly:仅监视当前文件夹-->
    <add key="watchOption" value="AllDirectories"/>
  </appSettings>
</configuration>